<div class="footer-content">
<footer class="d-flex justify-content-center align-items-end">
    <div>
        <em>Copyright © <%= new Date().getFullYear() %></em>
    </div>
</footer>

</div>
</main>
</div>
</body>

</html>
